<h1>Discount: <%= @discount.name %> </h1>
<h3>Discount Merchant: <%= @merchant.name %> </h3>
<h3>Discount Percentage: <%= @discount.percentage_discount %> </h3>
<h3>Discount Quantity: <%= @discount.quantity %> </h3>
